functions/env.yaml

terraform/environments/terraform.tfvars

terraform/environments/variables.tf
terraform/environments/.terraform/
terraform/environments/.terraform.lock.hcl
terraform/environments/terraform.tfstate
terraform/environments/terraform.tfstate.backup
